*.avi
*.mp4
*.csv
*.pyc
__pycache__/
Utils/__pycache__/JellyTrackingFunctions.cpython-310.pyc
Utils/motor_location.txt
Utils/jf_or_larvae_mode.txt
Models/*
!Models/jf_best.pt
!Models/larvae_best.pt
!Models/old/
config.json
Utils/vertical.txt
ready.txt